
<div class="jumbotron">
    <h2><img src="favicon.ico" /> Employees</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-horizontal">
                @Html.Label("Search", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.Editor("Search", new { htmlAttributes = new { @class = "form-control", id = "autocomplete", autocomplete = "off" } })
                    <div class="suggessions" id="suggessions">  </div>
                    <small class="text-muted"> Autocomplete hinting </small>
                </div>
                <div class="col-md-6">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <p> Total employees: @ViewBag.TotalEmployees.</p>
        <p> Total departments: @ViewBag.TotalDepartments.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            @Html.ActionLink(@"Employees list>>", "Index", "Employees", null, new { @class = "btn btn-default" })
            @Html.ActionLink(@"Departments list >>", "Index", "Departments", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>
@section scripts
{
    <script>
        $(function () {
            var autocomplete = $("#autocomplete");
            autocomplete.keyup(function () {
                makeRequest($(this).val());
            });
            autocomplete.blur(function () {

                $("#suggessions").delay(100).fadeOut();
            });
            function makeRequest(input) {
                $.ajax({
                    url: "@Url.Action("Autocomplete")",
                    type: "GET",
                    data: "Input=" + input,
                    success: function (response) {
                        $("#suggessions").html(response);
                        $("#suggessions").show();
                    },
                });
            }
        });
        function selectValue(val) {
            $("#autocomplete").val(val);
            $("#suggessions").hide();
        }

    </script>
}